.bggray{
    background: #f2f2f2;
    padding: 23px 15px;
}
.bgwhite{background: #fff;}
.bgblack{background: #000;}
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav a img{
    width: 23px;
    padding: 0 4px;
}
.nav_inp label{padding: 0 4px;}
.menu1{display: none;}
.sidebar {
    transition: .5s;
    background-color: white;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
}
.menu2{padding: 40px 30px;}
.menu2 li{padding: 8px;}
.menu2 li a{
    color: black;
    font: 500 1.2em 'Arial', sans-serif;
}
.sidebar .check{
    text-align: right;
    padding: 25px 20px 0 0;
    text-align: right;
    font-size: 1em;
}
#input {display: none;}
#input:checked ~ .sidebar{
    left: 0;
}
.bgwhite .container{
    max-width: 1090px;
}
.imgs{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 20px;
}
.imgs div{
    padding: 10px;
    text-align: center;
}
.imgs div p, .imgs div .spans{ font: .7em 'Arial', sans-serif;}
.imgs div .spans{color: #bf4800;}
.imgs::-webkit-scrollbar{display: none;}
.p_div{text-align: center;}
.p_div p{
    font: 400 1.3em 'Arial', sans-serif;
}
.a_div a{
    font: 400 1em 'Arial', sans-serif;
    color: #0071e3;
}
.a_div i{color: #0071e3;}
.a_div{
    padding: 15px 0;
    display: inline-block;
}
.a_div::after {
    display: block;
    content: "";
    width: 0px;
    height: 3px;
    margin: 5px 0;
    background: transparent;
  }
  .a_div:hover::after {
    animation: border 1s linear forwards;
  }
  @keyframes border {
    0% {
      background: transparent;
      width: 0;
    }
    100% {
      background: linear-gradient(90deg, yellow, orange, green, blue);
      width: 100%;
    }
}


.sec_div .spans{
    color: #bf4800;
    font: .8em 'Arial', sans-serif;
}
section{
    padding: 40px 0;
    text-align: center;
}
.sec1_h6{
    color: #8b887eff;
    font: 1em 'Arial', sans-serif;
    margin: 10px;
}
.from_div{
    font: .9em 'Arial', sans-serif;
    color: #fff;
    margin: 15px 0;
}
.titanium{
    background: url('../img/titanium.jpeg') center/contain no-repeat;
    min-height: 45px;
    padding: 15px 0;
}
.button{
    display: inline-block;
    padding: 12px 25px;
    margin: 10px 0;
    font: .8em 'Arial', sans-serif;
    background: #0071e3;
    color: #fff;
    border-radius: 30px;
}
.bgtitanium{
    background: url('../img/titanium-mobile.jpeg')center/contain no-repeat;
    height: 50vh;
    margin: 10px 0;
}
.sec2_h6{
    font: 400 1.1em 'Arial', sans-serif;
    color: #000;
    margin: 10px;
}
.sec_div h2{
    font: 500 1.8em / 0.8 'Arial', sans-serif;
    margin: 20px 0;
}
.from_div2{
    font: .9em 'Arial', sans-serif;
    color: #000;
    margin: 15px 0;
}
.new{
    background: url('../img/newphoria.jpeg') center/contain no-repeat;
    height: 20vh;
    padding: 10px;
}
.bggrays{
    background: #fbfbfb;
}
.power h1{
    color: #1e3791;
    font: bold 2em 'Arial', sans-serif;
    margin: 20px 0;
}
.power .from_div2{font-size: 1.2em;}
.phones{
    background: url('../img/lovebg.jpeg') center/contain no-repeat;
    height: 50vh;
}
.app_text h4{   font: 600 1.4em 'Arial', sans-serif;}
.app_text h2{
    font: 1.8em 'Arial', sans-serif;
    margin: 20px;
}
.app_text .watch{
    margin: 10px 0;
    padding: 8px 20px;
    display: inline-block;
    border-radius: 15px;
    color: #0071e3;
    font: .8em 'Arial', sans-serif;
}
.bgapple{
    background: url('../img/applebg12.jpeg') center/cover no-repeat;
    height: 50vh;
}
.apple1{
    height: 85%;
    width: 100%;
    padding: 20px 0;
    object-fit: contain;
}
.all_img{
    height: 250px;
}
.all_cards{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    flex-wrap: wrap;
}
.app_models .spans{
    color: #bf4800;
    font: .8em 'Arial', sans-serif;
}
.app_models h3{font: bold 1em 'Arial', sans-serif;}
.app_models p{
    font: 1em 'Arial', sans-serif;
    margin: 10px 0;
}
.app_models .from_div2{
    font: .8em 'Arial', sans-serif;
    margin: 20px 0 0 0;
}
.pad{padding: 0 10px 0 0;}
section  h1{
    margin: 20px 0;
    font: bold 2em 'Arial', sans-serif;
}
.one_card hr{
    width: 60%;
    margin: auto;
}
.app_texts div{padding: 20px;}
.app_texts img{
    height: 40px;
    width: 40px;
    object-fit: contain;
}
.app_texts p{
    font: 0.7em 'Arial', sans-serif;
    line-height: 25px;
    width: 145px;
    margin: auto;
}
.app_texts .text_span{font: 0.7em 'Arial', sans-serif;}
section h2{
    font: 500 1.8em 'Arial', sans-serif;
    margin: 20px 0;
}
.col{
    margin: 15px;
    padding: 10px;
    background: #fff;
}
.col h5{
    padding: 30px;
    font: bold 1.5em 'Arial', sans-serif;
}
.art1_img{
    background: url('../img/savei_phone.jpg') center/contain no-repeat;
    height: 30vh;
}
.art2_img{
    background: url('../img/appleemoji.jpeg') center/contain no-repeat;
    height: 20vh;
}
.col p{
    font: 400 1em 'Arial', sans-serif;
    margin: 0 10px;
    line-height: 20px;
    color: #6e6e73;
}
.art3_img{
    background: url('../img/aplepphone.jpeg') center/contain no-repeat;
    height: 30vh;
    margin: 15px 0 0 0;
}
.why{
    background: #fff;
    margin: 20px 10px;
    padding: 30px 15px;
}
.why p{
    font: 400 1em 'Arial', sans-serif;
    line-height: 20px;
}
.whybg{
    height: 25vh;
    background: url("../img/applebg6.jpeg") left/cover no-repeat;
}
.macsafe_p h2{
    font: bold 2em 'Arial', sans-serif;
    margin: 20px 0 30px 0;
}
.macsafe_p p{
    font: 400 1.1em 'Arial', sans-serif;
    margin: 15px auto;
    line-height: 30px;
    max-width: 300px;
}
.macsafe_img{
    background: url('../img/applephones.jpeg') center/contain no-repeat;
    height: 30vh;
    margin: 30px 0;
}
.macsafe{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.airtag_p h2{
    font: bold 2em 'Arial', sans-serif;
    margin: 20px 0 30px 0;
}
.airtag_p p{
    font: 400 1.1em 'Arial', sans-serif;
    margin: 15px auto;
    line-height: 18px;
    max-width: 370px;
}
.airtag_img{
    background: url('../img/airtag__b81h4czx41yq_medium.jpg') center/contain no-repeat;
    height: 30vh;
    margin: 30px 0;
}
.airtag{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.magic_p h2{
    font: bold 2em 'Arial', sans-serif;
    margin: 20px 0 30px 0;
}
.magic_p p{
    font: 400 1.1em 'Arial', sans-serif;
}
.magicruns_img{
    background: url('../img/applebg9.jpeg') center/contain no-repeat;
    height: 20vh;
    margin: 30px 0;
}
.magicruns{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.img_cards{padding: 30px 10px;}
.img_cards h5{
    font: bold 1.3em 'Arial', sans-serif;
    padding: 15px 0;
}
.img_cards p{
    font: 400 1em 'Arial', sans-serif;
    max-width: 370px;
    margin: auto;
}
.all_ios{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.ios17 h5{ 
    font: 500 1.8em 'Arial', sans-serif;
    margin: 20px 0;
}
.ios17 p{font: 400 1em 'Arial', sans-serif;}
.two_cards{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.tels{background: url('../img/applebg.jpeg') center/cover no-repeat;}
.user{background: url('../img/privacy.jpg') center/cover no-repeat;}
.tels, .user{
    margin: 10px 0;
    height: 40vh;
}
.one_apple{
    background: url('../img/apple_one.jpg') center/contain no-repeat;
    height: 40px;
}
.appleone{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.appleone p{
    font: 500 1.4em 'Arial', sans-serif;
    margin: 20px 0;
}
.newtwo_cards{
    background: #000;
    margin: 20px 10px;
    padding: 10px;
}
.newtwo_cards h2, .newtwo_cards p{
    color: #fff;
}
.newtwo_cards p, .newtwo_white p{
    font: 500 1.4em 'Arial', sans-serif;
    margin: 20px 10px;
}
.newtwo_white{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.bgtv{
    background: url('../img/tv-_bg.png') center / cover no-repeat;
    height: 40vh;
    margin: 10px 0;
}
.bgmusic{
    background: url('../img/music_bg.jpg') center / cover no-repeat;
    height: 40vh;
    margin: 10px 0;
}
.fitness{
    background: url('../img/fitness_bg.jpg') center / cover no-repeat;
    margin: 10px 0;
    height: 40vh;
}
.arcade{
    background: url('../img/arcade_bg.png') center / cover no-repeat;
    margin: 10px 0;
    height: 40vh;
}
.news{
    background: url('../img/news_bg.jpeg') center / cover no-repeat;
    margin: 10px 0;
    height: 40vh;
}
.gift{
    background: url('../img/gift_bg.jpg') center / cover no-repeat;
    margin: 10px 0;
    height: 40vh;
}
.introbg{
    background: url('../img/research_app.jpg') center / contain no-repeat;
    height: 30vh;
    margin: 30px 0;
}
.introducing{
    background: #fff;
    margin: 20px 10px;
    padding: 10px;
}
.introducing_p p{
    font: 500 1.1em 'Arial', sans-serif;
    margin: 20px 10px;
}
.p_sec{
    padding: 20px 0;
    font: .9em 'Arial', sans-serif;
    color: #0000007a;
    text-align: justify;
}
ol{
    padding: 0 0 30px 30px;
    li {
      padding: 0;
      list-style: decimal;
    }
}
.container{
    padding: 0 3%;
}
.foot_logo{padding: 16px 30px;}
.foot_menu{padding: 0 30px;}
.foot_logo a{
    display: flex;
    align-items: center;
    gap: 40px;
}
.foot_logo a .fa-apple{
    font-size: 1.5em;
    padding: 0 10px;
    color: #000;
}
.foot_logo span{
    color: #000000bd;
    font: .9em 'Arial', sans-serif;
}
.foot_ul{  
    max-height: 1px;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
}
.foot_ul{
    border-bottom: 1px solid #bebebe7a;
}
 .foot_ul li{
    padding: 3px 10px;
    color: #0000007a;
}
.foot_ul li a{
    color: #000000bd;
    font: .8em 'Arial', sans-serif;
    transition: .4s;
}
.foot_menu label {
    color: #000000bd;
    padding: 20px 10px;
    font: .8em 'Arial', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.foot_menu label a{
    color: #000000bd;
    font: .9em 'Arial', sans-serif;
}

#inp1, #inp2, #inp3, #inp4, #inp5, #inp6, #inp7, #inp8, #inp9, #inp10, #inp11{
    display: none;
}
#inp1:checked~.foot_ul,
#inp2:checked~.foot_ul,
#inp3:checked~.foot_ul,
#inp4:checked~.foot_ul,
#inp5:checked~.foot_ul,
#inp6:checked~.foot_ul,
#inp7:checked~.foot_ul,
#inp8:checked~.foot_ul,
#inp9:checked~.foot_ul,
#inp10:checked~.foot_ul,
#inp11:checked~.foot_ul {
    max-height: 300px;
}

.fbtm{padding: 15px 0;}
.foot_p, .fbtm p{
    color: #000000bd;
    font: .9em 'Arial', sans-serif;
}
.moreway{
    font: .9em 'Arial', sans-serif;
    color: #0071e3;
    text-decoration: underline;
}
.bbottom{border-bottom: none;}

@media only screen and (min-width: 768px) {
    .container{
        max-width: 1200px;
        margin: auto;
    }
    .menu1{
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    .menu1 a {
        position: relative;
        padding: 5px 0;
      }
      .menu1 a::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 2px;
        left: 50%;
        bottom: 0;
        background-color: #624d4d;
        transition: all ease-in-out 0.2s;
      }
      .menu1 a:hover::before {
        width: 100%;
        left: 0;
      }
      .button:hover {
        box-shadow: 3px 5px 7px #010e42;
        transition: .4s;
      }
      .titan_sec .button:hover {
        box-shadow: 3px 5px 7px rgb(172, 185, 236);
        transition: .2s;
      }


    .menu1 li a{
        color: black;
        font: bold .67em 'Arial', sans-serif;
    }
    nav{
    display: flex;
    justify-content: space-around;
    }
    .nav_inp label{display: none;}
    .bgtitanium{
        background: url('../img/titanium-pc.png') center/contain no-repeat;
        width: 70%;
        margin: auto;
    }
    .sec_div h2{font-size: 2.8em;}
    .new{
        height: 55vh;
        background-size: cover;
    }
    .power_price{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .power{width: 50%;}
    .phones{
        height: 100vh;
        width: 50%;
    }
    .power h1{font-size: 3em}
    .bgapple{height: 100vh;}
    .no_cont{
        height: 100vh;
        background: url('../img/applebg12.jpeg') center/cover no-repeat; 
        border-radius: 30px;
        margin: 20px;
    }
    .applebg{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .app_text{
        text-align: left;
        color: #fff;
    }
    .app_text h2{
        margin: 20px 0;
        font-size: 2.8em;
    }
    .app_text .watch{
        padding: 8px 20px;
        color: #000;
        margin: 10px 0;
        border-radius: 15px;
        font: 0.8em 'Arial', sans-serif;
        opacity: 95%;
        background: #ffffffcc;
        i{
            display: none;
        }
    }
    section h1{font: bold 3em 'Arial', sans-serif;}
    .app_texts .text_span{font: bold 1.4em 'Arial', sans-serif;}
    section h2{font: 500 2.8em 'Arial', sans-serif;}
    .why{
        height: 80vh;
        background: url("../img/applebg6.jpeg") center/cover no-repeat;
    }
    .why div {
        max-width: 500px;
        margin: auto;
    }
    .whybg{display: none;}
    .macsafe{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .macsafe_img{
        width: 50%;
        height: 60vh;
    }
    .macsafe_p h2{
        font-size: 2.8em;
    }
    .featured h1{
        width: 300px;
        text-align: center;
        margin: 30px auto;
        padding: 20px;
    }
    .airtag{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .airtag_img{
        width: 50%;
        height: 60vh;
    }
    .airtag_p h2{
        font-size: 2.8em;
    }
    .airtagbg{
        order: -1;
        background: url('../img/appleanahtarlik.jpeg') center/contain no-repeat;
    }
    .magicruns_img{
        height: 50vh;
    }
    .magic_p h2{
        font-size: 2.8em;
    }
    .all_art{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .ios_img{
        background: url('../img/ios17.jpg') center/cover no-repeat;
        height: 50vh;
    }
    .ios17 h5{font: 500 2.8em 'Arial', sans-serif;}
    .two_cards{width: 50%;}
    .newtwo_cards{width: 50%;}
    .two_row{
        display: flex;
        flex-direction: row;
    }
    .applications{
        background: url('../img/applebg2.jpeg')  center/contain no-repeat;
        height: 55vh;
        width: 60%;
    }
    .appleone{
        display: flex;
        align-items: center;
    }
    .introducing{
        display: flex;
        align-items: center;
    }
    .applications{order: -1;}
    .one_apple{height: 50px;}
    .newtwo_white{width: 50%;}
    .introbg{
        width: 50%;
        height: 60vh;
    }
    .introducing_p{width: 50%;}
    .drop1 label, .drop2 label, .drop3 label, .drop4 label, .drop5 label, .drop6 label, .drop7 label, .drop8 label, .drop9 label, .drop10 label, .drop11 label{
        font: 1.1em 'Arial', sans-serif;
    }
    .foot_menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .fa-chevron-down {
          display: none;
        }
      }
      .foot_ul{border-bottom: none;}
      .w20{
        width: 20%;
        margin-bottom: 10px;
    }
      .foot_ul{
        max-height: 250px;
      }
     .fbtm {
        display: flex;
        justify-content: space-between;
        text-align: center;
        p {
          padding: 0 5px;
        }
      } 
      .all_cards article{
        width: 25%;
    }
}



@media only screen and (min-width: 950px) {
    .row{
        display: flex;
        justify-content: space-between;
    }
    .col1{width: 33.33%;}
    .col{width: 33.33%;}
    .img_cards{width: 33.33%;}
}